#node-editor {
    position: absolute;
    top: 0px;
    left: 0px;

    height: 100vh;
    width: 100vw;

    .baklava-button:not(.--block) {
        margin-top: 0.45em;
        padding: 0.45em 0.75em;
    }
    .__dropdown {
        position: relative !important;
    }
}