#scene {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 0;

    color: white;
    font-family: "Karla";
    font-weight: 300;

    #maptalks-editor-container {
        display: flex;
        flex-direction: row; /* sidebar on the right */
        height: 100%;
        width: 100%;

        #right-sidebar {
            background-color: rgb(35, 35, 35);
            display: flex;
            flex-direction: column;
            right: 0px;

            height: 100%;
            max-width: calc(30% - 1rem);
            min-width: calc(30rem - 1rem);
            padding-left: 1rem;
            z-index: 1;

            .CodeMirror {
                padding-top: 0.5rem;
            }
        }
    }

    [tab="true"].visibility-hidden {
        height: 0px !important;
    }
    #maptalks-editor-container {
        height: 100%;
        width: 100%;

        #map {
            height: 100%;
            width: 100%;
        }
    }

    #node-editor-container {
        height: 100%;
        width: 100%;

        #node-editor {
            height: 100%;
            width: 100%;

            /* -- Disable subgraph; it breaks custom features for now -- */
            .baklava-toolbar-entry[title="Create Subgraph"] { display: none; }

            /* -- Baklava Node layouts -- */
            .baklava-button:not(.--block) {
                margin-top: 0.45em;
                padding: 0.45em 0.75em;
            }
            .__dropdown {
                position: relative !important;
            }
        }
    }
}

