#scene {
    display: flex;
    flex: 1;
    min-height: 0;

    #node-editor-container {
        height: 100%;
        width: 100%;

        #node-editor {
            height: 100%;
            width: 100%;

            /* -- Disable subgraph; it breaks custom features for now -- */
            .baklava-toolbar-entry[title="Create Subgraph"] { display: none; }

            /* -- Baklava Node layouts -- */
            .baklava-button:not(.--block) {
                margin-top: 0.45em;
                padding: 0.45em 0.75em;
            }
            .__dropdown {
                position: relative !important;
            }
        }
    }
}

