/* -- Topbar styling -- */
.topbar {
    background-color: rgba(32, 32, 32, 1);
    color: rgba(220, 220, 220, 1);
    height: 2rem;
    font-family: "Karla";
    font-weight: 300;

    .tab {
        border-radius: 4px;
        cursor: default;
        display: inline-block;
        line-height: 1.8rem;
        margin-right: -0.25rem;
        min-height: 1.8rem;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        position: relative;
        transition: all 0.5s ease;
        vertical-align: middle;

        user-select: none;

        .dropdown-menu {
            display: none; /* Hidden by default */
            position: absolute;

            background-color: rgba(32, 32, 32, 1);
            border: 3px solid rgb(50, 50, 50);
            border-radius: 4px;
            left: 0px;
            list-style: none;
            top: 2rem;
            width: 100%;
            z-index: 1;

            hr {
                border: 1px solid grey;
                margin-left: 4px;
                margin-right: 4px;
            }
        }
    }
    .tab:not(.disabled):hover {
        background-color: rgba(50, 50, 50, 1);
    }

    .tab:not(.disabled).active {
        background-color: rgb(160, 50, 50);

        .dropdown-menu {
            display: block;
            min-width: 10.5rem;

            .dropdown-item {
                border-radius: 4px;
                height: 1.75rem;
                line-height: 1.75rem;
                margin-top: 2px;
                padding-left: 0.75rem;
                padding-right: 0.75rem;
                transition: all 0.5s ease;
            }
            .dropdown-item:not(.disabled):hover {
                background-color: rgb(160, 50, 50);
            }

            .dropdown-item.active {
                background-color: rgb(140, 50, 50);
            }
        }
    }
    .disabled {
        opacity: 0.5;
    }
}

.display-none {
    display: none;
}